
/* FIXING DROPDOWN SEARCH IN MODAL */
.e1qjn9k90{
  width: 100% !important;
  top: 115% !important;
  max-height: 675% !important;
}

.e1gzf2xs0 {
  border-radius: 0 !important;
  border: 3px solid black !important;
  box-shadow: none !important;
}

.btn-create-application:hover, .btn-create-application:focus, .btn-create-application:active{
  border-color:white !important;
}

.spinnerApplications{
  position: absolute;
  top: 50%;
  left: 50%;
}

.applications-top-bar{
  margin: 0 3.8% 0 3.5%;
}

.applications-top-bar > .nav-link {
  margin-right: 10px;
  color: black;
  border: 3px solid black;
  border-bottom: none;
};

.nav-link, .active {
  color:white !important
}

.nav-item.show, .active{
  color: white !important;
}

.tabs_codeval_content{
  border: 1.5px solid black !important;
}

.applications-top-bar > .nav-link:hover {
  border-color: black !important;
  color: white;
  background: black;
}