
/* FIXING DROPDOWN SEARCH IN MODAL */
.e1qjn9k90{
  width: 100% !important;
  top: 115% !important;
  max-height: 675% !important;
}

.e1gzf2xs0 {
  border-radius: 0 !important;
  border: 3px solid black !important;
  box-shadow: none !important;
}


.btn-create-application:hover, .btn-create-application:focus, .btn-create-application:active{
  border-color:white !important;
}

.spinnerApplications{
  position: absolute;
  top: 50%;
  left: 50%;
}

.applications-top-bar{
  margin: 0 3.8% 0 3.5%;
}

.applicationsContainer{

}