.applicant-container {
  top: 0;
  left: 0;
  /* background-color: #e85011; */
  background-color: #31ae7e;
  /* background-color: #d8d8cd; */
  display: flex;
  flex-direction: column;
  font-family: 'Apercu';
}

.applicant-countdown {
  position: fixed;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  top: 0;
  left: 0;
  z-index: 19;
  background-color: black;
  color: white;
}

.applicant-top {
  color: white;
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  position: fixed;
  z-index: 20;
}

.top-logo {
  background-image:url('../../assets/logo-final-01.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100px;
  height: 24px;
  position: relative;
  top: 0px;
  left: 0px;
}

.top-hints-btn {
  border: none;
  color: white;
  background-color: transparent;
  text-transform: capitalize;
  font-family: 'Apercu mono';
}

.top-hints-btn:focus {
  outline: 0;
}

.applicant-instructions {
  padding-top: 60px;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.instructions-container {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.instructions-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;


}

.instructions-instructions {
  width: 50%;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  height: auto;
}

.instructions-title {
  text-transform: uppercase;
  font-family: 'Apercu mono';
  font-size: 24px;
  
}

.instructions-text {
  margin: 0;
}


.instructions-instructions+.instructions-examples {
  margin-left: 20px;
}

.instructions-examples {
  width: 50%;
  background-color: white;
  padding: 20px;
  border: 2px solid black;
  height: 100%;
}

.instructions-scroll {
  font-size: 24px;  
  position: relative;
  bottom: -10px;
}


.applicant-test {
  padding-top: 60px;
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.test-container {
  padding: 20px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.applicant-editor {
  padding: 20px;
  background-color: white;
  border: 2px solid black;
  height: 100%;
  width: 50%;
  overflow: hidden;
}

.applicant-editor+.applicant-console-container {
  margin-left: 20px;
}

.applicant-console-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.applicant-console {
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: white;
  border: 2px solid black;
  box-sizing: border-box;
  overflow: scroll;
}

.applicant-console-buttons {
  height: 50px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.applicant-test-btn {
  height: 100%;
  width: 50%;
  background-color: white;
  border: 2px solid black;
}

.applicant-test-btn:hover {
  background-color: black;
  color: white;
}

.applicant-test-btn+.applicant-test-btn {
  margin-left: 20px;
}

.applicant-modal {
  padding: 15px 20px 23px 20px;
  font-family: 'Apercu';
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.applicant-modal-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.applicant-modal-title {

}

.applicant-modal-btn {
  background-color: transparent;
  padding: 5px 10px;
  border: 2px solid black;
}

.applicant-hint {
  font-family: 'Apercu Mono';
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  margin: 0;
}

.applicant-modal-btn+.applicant-modal-btn {
  margin-left: 20px;
}

.applicant-modal-btn:hover {
  background-color: black;
  color: white;
}

.applicant-modal-btn:focus {
  outline: 0;
  transform: scale(0.95, 0.95);
}
