.exercises-create-background{
  position: fixed;
  height: 200vh;
  width: 200vw;
  left: -50vw;
  top:-50vh;
  background-color: #d8d8cd;
  overflow: hidden;
  z-index: -1;
}
.exercises-creator-top-bar{
  display:flex;
  justify-content: flex-start;
  width: 100%;
}
.creator-container{
  margin-top: 5vh;
  border: 3px solid black;
}
.stepper-buttons{
  width:100%
}
.btn-info{
  background-color:white;
  color: black;
  border:3px solid black;
  cursor:pointer;
}
.btn-info:active, .btn-info:focus, .btn-info:hover{
  background-color:black !important;
  border:3px solid black !important;
}
.active{
  background-color:black !important;
  border:3px solid black !important; 
}
.exercise-creator-buttons-bar{
  display:flex;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
}
.next-button{
  align-self: flex-end;
}
.alert-div{
  margin: 0 0 0 2%;
  height: 50px;
  width:96%;
}