.interviewers-top-bar {
  display: flex;
  justify-content: space-between;
  margin-right: 1.8%;
  margin-left: 3.3%;

}

.containetInterviewers {
  width: 100%;
}



.background{
  height: 100%;
  width: 100%;
}

.spinnerInterviewers{
  position: absolute;
  top: 50%;
  left: 50%;
  color: black;
}