.exercise-card{
  width: 29%;
  margin: 2%;
  margin-top: 2%;
}
.exercise-header{
  font-size:20px;
}

.exercise-firstRow{
  margin-bottom: 10%;
}
.exercise-footer{
  display: flex;
  padding: 0;
}

.exerciseEditBtn{
  width: 100%;
  border: none !important;
  background: white;
  color: black;
}

.exerciseEditBtn:hover{
  background: #f9e124 !important;
}

.exerciseEditBtn:active{
  box-shadow: none !important;
}

.exerciseEditBtn:focus{
  box-shadow: none !important;
}

.exerciseDeleteBtn{
  width: 50%;
  border: none !important;
  background: white;
  color: black;
}

.exerciseDeleteBtn:active{
  box-shadow: none !important;
}

.exerciseDeleteBtn:focus{
  box-shadow: none !important;
}