.settings-background{
  position: fixed;
  height: 200vh;
  width: 200vw;
  left: -50vw;
  top:-50vh;
  overflow: hidden;
  z-index: -1;
}
/* .settings-body{
  background-color:#fecd01;
} */
.container-box{
  background-color: white;
}
