.nav-bar-toggle{
  background-color:white !important;
  color: white important!;
}
.navbar-logo{
  background-image:url('../../assets/logo-final-01.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 100px;
  height: 24px;
  position: relative;
  top: -1px;
  left: -10px;
}