.console-div {

}

.logs-container {
  /* padding-bottom: 20px; */
}

.console-title {
  text-transform: uppercase;
  font-family: 'Apercu mono';
  font-size: 24px;
  margin: 0;
}

.console-text {
  font-size: 16px;
  margin: 0;
  padding-left: 20px;
}

.logs-padding {
  margin-bottom: 20px;
}

.test-result-container {
  margin: 0;
}

.test-title {
  margin: 0;
  padding-left: 20px;
  
}

.test-error {
  font-size: 16px;
  margin: 0;
  padding-left: 40px;

}
